<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/png" href="{{ "/images/ellis-unit-warsaw-favicon.png" | prepend: site.baseurl }}"/>

<!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
<link rel="stylesheet" href="{{ "/libs/bootstrap.min.css" | prepend: site.baseurl }}">

<!-- Custom CSS - ML in PL Theme -->
<link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}">

<!-- Custom Fonts -->
<link rel="stylesheet" href="{{ "/libs/fontawesome/css/fontawesome.min.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/libs/fontawesome/css/brands.min.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/libs/fontawesome/css/solid.min.css" | prepend: site.baseurl }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">

<!-- SEO and OpenGraph Tags -->
{% seo %}
</head>
