<!-- Registration Section -->
<section id="registration" class="container content-section">
    <div class="row">
        <div class="col-md-12">
            <h2>/ Registration</h2>

            <h3 id="agenda" class="about-subsection"> / Agenda</h3>

            <h4><strong>25 August 2025 (Monday)</strong></h4>
            <ul>
                <li><strong>12:15–13:00</strong>: Registration & Welcome Coffee</li>
                <li><strong>13:00–13:30</strong>: Kick-off Ceremony</li>
                <li><strong>13:30–14:15</strong>: Keynote Speaker - Petri Myllymäki, “AI for the Good of Humankind” (lecture and Q&A)</li>
                <li><strong>14:15–15:00</strong>: Panel “Social Responsibility and Ethics in AI”, panelists: Petri Myllymäki, Paulina Tomaszewska, Tuan Trinh,
                Ewa Dolińska-Wysocka, moderator: Alicja Ziarko</li>
                <li><strong>15:00–17:00</strong>: Welcome Reception</li>
            </ul>

            <h4><strong>26 August 2025 (Tuesday - Robust AI in Robotics Day)</strong></h4>
            <ul>
                <li><strong>09:15–09:30</strong>: Welcome Coffee</li>
                <li><strong>09:30–10:30</strong>: Keynote Speaker - Dario Floreano, “Challenges and Opportunities for Robust AI in Biologically Inspired
                Drones” (lecture and Q&A)</li>
                <li><strong>10:30–11:30</strong>: Panel "Rethinking AI Through the Lens of Robotics" - Dario Floreano, Davide Scarazmuzza, Philip Piatkiewicz, Krzysztof
                Walas, moderator: Przemysław Kornatowski</li>
                <li><strong>11:30–12:30</strong> Presentations of robotics companies (short elevator pitch type
                    presentation - around 5 min. each)</li>
                <li><strong>12:30–13:30</strong>: Lunch</li>
                <li><strong>13:30–14:30</strong>: Keynote Speaker - Davide Scaramuzza, “Vision Based Agile Robotics” (lecture and Q&A)</li>
                <li><strong>14:30–15:30</strong>: Spotlight session (12 posters – each presentation 5 minutes)</li>
                <li><strong>15:30–17:00</strong>: Coffee Break + Academy & Industry Companies Fair (presentation of
                    companies’ products in a hall) +
                    Poster Session <a href="https://drive.google.com/file/d/1lDNfu8aGW7QW7LxYx7SLgtho3u4kO7UH/view?usp=drive_link"
                        target="_blank" rel="noopener noreferrer">
                        (Schedule PDF, Last updated: August 26, 2025, 8:30) </a></li>
                <li><strong>19:30–23:00</strong>: Gala Dinner at "Forteca", <a href="https://www.google.com/maps/place/Forteca+Kr%C4%99gliccy/@52.2573494,21.0066078,17z/data=!3m1!4b1!4m6!3m5!1s0x471ecc743361e203:0xdf1fb62b515b3bf6!8m2!3d52.2573494!4d21.0066078!16s%2Fg%2F11cncp5_l9?entry=ttu&g_ep=EgoyMDI1MDgxOC4wIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopener noreferrer">
                    Zakroczymska 12, 00-225 Warsaw
                </a> </li>
            </ul>

            <h4><strong>27 August 2025 (Wednesday)</strong></h4>
            <ul>
                <li><strong>09:15–09:30</strong>: Welcome Coffee</li>
                <li><strong>09:30–10:45</strong>: Keynote Speaker – Ewa Szczurek, “Generative AI for Molecule Discovery” (lecture and Q&A)</li>
                <li><strong>10:45–11:15</strong>: Coffee Break</li>
                <li><strong>11:15–12:30</strong>: Keynote Speaker - Pau Rodríguez López, “From Experts to Distributions:
                    Controlling Generative Models from Within” (lecture and Q&A)</li>
                <li><strong>12:30–13:30</strong>: Lunch</li>
                <li><strong>13:30–14:30</strong>: Panel Discussion “Being a Good Scientist - Prerequisite or a Doom to Become an Entrepreneur?” – Marek
                    Cygan, Tomasz Trzciński, Piotr Sankowski, Pau Rodríguez López, moderator: Daniel
                    Marczak</li>
                <li><strong>14:30–16:00</strong>: Poster Session <a href="https://drive.google.com/file/d/1lDNfu8aGW7QW7LxYx7SLgtho3u4kO7UH/view?usp=drive_link" target="_blank"
                    rel="noopener noreferrer">
                    (Schedule PDF, Last updated: August 26, 2025, 8:30) </a> </li>
                <li><strong>From 17:00</strong>: Guided tour of Warsaw</li>
            </ul>

            <h4><strong>28 August 2025 (Thursday)</strong></h4>
            <ul>
                <li><strong>09:15–09:30</strong>: Welcome Coffee</li>
                <li><strong>09:30–11:00</strong>: Keynote Speaker - Serge Belongie, “Narratives in the Modern Social Media Ecosystem” (lecture and Q&A)</li>
                <li><strong>11:00–11:30</strong>: Coffee Break</li>
                <li><strong>11:30–12:30</strong>: Keynote Speaker - Nuria Oliver, “Towards a Fairer World With AI” (lecture and Q&A)</li>
                <li><strong>12:30–13:30</strong>: Lunch</li>
                <li><strong>13:30–15:30</strong>: Poster Session <a href="https://drive.google.com/file/d/1lDNfu8aGW7QW7LxYx7SLgtho3u4kO7UH/view?usp=drive_link" target="_blank"
                    rel="noopener noreferrer">
                    (Schedule PDF, Last updated: August 26, 2025, 8:30) </a></li>
                <li><strong>15:30–16:00</strong>: Coffee Break & Winning Poster(s) Announcement</li>
            </ul>

            <h4><strong>29 August 2025 (Friday)</strong></h4>
            <ul>
                <li><strong>09:15–09:30</strong>: Welcome Coffee</li>
                <li><strong>09:30–11:00</strong>: Keynote Speaker - Alexandra Birch-Mayne, “Robust Multilingual NLP” (lecture and Q&A)</li>
                <li><strong>11:00–11:15</strong>: Coffee Break</li>
                <li><strong>11:15–11:30</strong>: “Presentation of AI Tool Applications for Exploring Poland” - representative of the Polish Tourism
                Organisation </li>
                <li><strong>11:30–12:00</strong>: “Opportunities for Mobility Grants for Research under the Marie Skłodowska-Curie Actions and the Polish
                National Agency for Academic Exchange” - representative of the Polish National Agency for Academic Exchange</li>
                <li><strong>12:00–12:15</strong>: “Current Issues Related to the ELLIS PhD & Postdoc Program” - coordinators of the Program from ELLIS</li>
                <li><strong>12:15–12:45</strong>: Wrap-up Ceremony and announcement of the location of the EDS 2026</li>
                <li><strong>12:45–14:00</strong>: Lunch</li>
            </ul>

            <h3 id="call-for-posters" class="about-subsection"> / Call for posters</h3>

            <h4 id="general-information" class="about-subsection"><strong>I. General Information</strong></h4>
            <p>
                The ELLIS Doctoral Symposium (EDS) 2025 provides a unique platform for early-career researchers to
                share
                their findings,
                exchange ideas, and receive feedback from peers and experts in the field.
            </p>
            <h4 id="topics-of-interest" class="about-subsection"><strong>II. Topics of Interest</strong></h4>
            <p>
                We welcome submissions from all PhD students, <strong> especially those participating in the ELLIS PhD
                    Postdoc Program</strong>,
                regardless of whether their primary research focus is Robust AI.
            </p>
            <h4 id="submission-guidelines" class="about-subsection"><strong>III. Submission Guidelines</strong></h4>
            <p>
                In the registration form, available on the <strong>ELLIS Doctoral Symposium 2025 website</strong>,
                authors will be
                required to
                provide:
            </p>
            <ol>
                <li><strong>Affiliation</strong></li>
                <li><strong>CV</strong></li>
                <li><strong>Title of the planned poster(s) and abstract(s)</strong> (max. 500 words, clearly outlining
                    the research
                    problem,
                    methodology, and preliminary results).
                </li>
            </ol>
            <p>
                Posters must represent original research (published or unpublished) conducted by the author(s).<br>
                All accepted posters will be presented during dedicated poster sessions at EDS 2025.
            </p>

            <h4 id="evaluation-criteria" class="about-subsection"><strong>IV. Evaluation Criteria</strong></h4>
            <p>
                The best poster title will be granted based on the scientific evaluation by the Jury, who will take into consideration:
            </p>
            <ul>
                <li><strong>Clarity &amp; Structure of the Poster </strong></li>
                <li><strong>Scientific Contribution</strong></li>
                <li><strong>Potential Impact on Research and Implementation for Industry</strong></li>
                </li>
            </ul>
            <p>
            Jury for the Best Poster in Robotics: Dario Floreano, Davide Scarazuzza, Krzysztof Walas, Przemysław Kornatowski.
            Jury for the Best Poster (General): Piotr Sankowski, Tomasz Trzciński.
            We reserve the right to change the committee members until the competition is decided.
            We reserve the right to withdraw from the selection of the best poster at any time.
            </p>
            <p>
                Priority will be given to the author(s) participating in the ELLIS PhD &amp; Postdoc Program.
            </p>

            <h4 id="important-dates" class="about-subsection"><strong>V. Important Dates</strong></h4>
            <ul>
                <li><strong>First registration round:</strong> May 12 – 31 (AoE), 2025</li>
                <li><strong>Verification of submissions:</strong> June 2 – 16, 2025</li>
                <li><strong>Acceptance notification:</strong> June 16, 2025</li>
                <li><strong>Payment deadline:</strong> June 17 – 30, 2025</li>
                <li><strong>Second registration round:</strong> June 17 – July 31, 2025 (rolling review)</li>
                <li><strong>Final payment deadline:</strong> August 7, 2025</li>
            </ul>

            <h4 id="how-to-apply" class="about-subsection"><strong>VI. How to Apply</strong></h4>
            <p>
                Submissions will be accepted through an <strong>online submission form</strong>, which will be made
                available on the
                <strong>ELLIS Doctoral Symposium 2025 website</strong> at the latest before the end of the first/second
                registration
                round.
            </p>
            <p>
                For any questions, contact us at <a href="mailto:{{ site.email }}">{{ site.email }}</a>.
            </p>
            <p>
                Join us at EDS 2025 to explore the future of Robust AI. We hope to see you soon in Warsaw!
            </p>

            <h3 id="fees" class="about-subsection"> / Fees</h3>
            <p>
                The participation fee for the ELLIS Doctoral Symposium 2025 is <strong>100 EUR per person</strong>.
            </p>

            <p>
                The fee covers access to all conference sessions, coffee breaks, lunches, and social events.
            </p>
            <h3 id="registration-form" class="about-subsection"> / Registration form</h3>
            <p>
                Registration is closed.
            </p>
        </div>
</section>