<!-- Venue Section -->
<section id="venue" class="container content-section">
    <div class="row">
        <div class="col-md-12">
            <h2>/ Venue</h2>
            <p>
                The conference will take place at the <a
                    href='https://neofilologia.uw.edu.pl/9679-2/siedziba-wydzialu/'>Faculty of Modern Languages of the
                    University of Warsaw</a> (Wydział
                Neofilologii Uniwersytetu Warszawskiego), located in Warsaw in Powiśle district, by the Vistula river,
                easily accessible by public transportation. The building is fully equipped to accommodate individuals
                with special needs, ensuring accessibility for all participants. The conference venue boasts modern
                conference facilities, including spacious lecture halls, breakout rooms, and multimedia equipment to
                support a seamless experience for speakers and attendees.</p>
        </div>
        <div class="col-md-6">
            <p>
                <strong>University of Warsaw<br>Faculty of Modern Languages</strong>
            </p>
            <p>
                Address:<br>Ul. Dobra 55,<br>00-312 Warsaw
            </p>
        </div>
        <div class="col-md-6">
            <div class="standard-border">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2443.0764925854146!2d21.021489076699687!3d52.241994256774916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecc5c1509e0dd%3A0x82c92afcf5ab31!2sFaculty%20of%20Modern%20Languages%20%E2%80%8B%E2%80%8Bat%20the%20University%20of%20Warsaw!5e0!3m2!1sen!2spl!4v1741961813798!5m2!1sen!2spl"
                    width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>